extends ../main

block title

block nav
  li
    a(href="#") About
  li
    a(href="#") Workflow
  li
    a(href="#") Cases
  li
    a(class="active" href="#") Contacts

block content
  section.section Hello world