extends ../main

block title

block nav
  li
    a(href="#") About
  li
    a(href="#") Workflow
  li
    a(href="#") Cases
  li
    a(class="active" href="#") Contacts

block content
  section.company-branch
    div.container-split.contact.timelapse.timelapse--philadelphia
      div.contact__caption
        span.contact__country USA
        h1 Philadelphia
    div.container-split.contact

  section.company-branch
    div.container-split.contact
    div.container-split.contact.timelapse.timelapse--vien
      div.contact__caption
        span.contact__country Austria
        h1 Vien
      div.contact-city

  section.company-branch
    div.container-split.contact.timelapse.timelapse--krasnodar
      div.contact__caption
        span.contact__country Russian Federation
        h1 Krasnodar
    div.container-split.contact