header
    div.header__container
        div.header__logo
            svg.svg-svg--logo-dims
                use(xlink:href="#svg--logo")

        nav.header__nav(role="navigation")
            ul
                block nav

        div.header__side-nav
            ul.side-nav__social
                li
                    a(href="#") Behance
                li
                    a(href="#") Dribble

            ul.side-nav__lang
                li
                    a(href="#") Ru
                li
                    a(href="#") En
                li
                    a(href="#") De